# `SENTIMENTAL ANALYSIS`

#### `IMPORTIN LIBRARIES`

In [55]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
from nltk.tokenize import TweetTokenizer
import re
import pickle
import string
import tensorflow as tf
from textblob import TextBlob
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('omw-1.4')
nltk.download('punkt')
from textblob import Word

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ganes\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\ganes\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\ganes\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\ganes\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

### `IMPORTING DATASET`

In [56]:
dataset=pd.read_csv("train.csv")

In [57]:
dataset.head(20)

    id  label                                              tweet
0    1      0   @user when a father is dysfunctional and is s...
1    2      0  @user @user thanks for #lyft credit i can't us...
2    3      0                                bihday your majesty
3    4      0  #model   i love u take with u all the time in ...
4    5      0             factsguide: society now    #motivation
5    6      0  [2/2] huge fan fare and big talking before the...
6    7      0   @user camping tomorrow @user @user @user @use...
7    8      0  the next school year is the year for exams.ð...
8    9      0  we won!!! love the land!!! #allin #cavs #champ...
9   10      0   @user @user welcome here !  i'm   it's so #gr...
10  11      0   â #ireland consumer price index (mom) climb...
11  12      0  we are so selfish. #orlando #standwithorlando ...
12  13      0  i get to see my daddy today!!   #80days #getti...
13  14      1  @user #cnn calls #michigan middle school 'buil...
14  15      1  no comment!  in #australia   #opkillingbay #se...
15  16      0  ouch...junior is angryð#got7 #junior #yugyo...
16  17      0  i am thankful for having a paner. #thankful #p...
17  18      1                             retweet if you agree!
18  19      0  its #friday! ð smiles all around via ig use...
19  20      0  as we all know, essential oils are not made of...

### `PRE-PROCESSING`

##### `PRE PROCESSING VARIABLE SETTING`

In [58]:
TEXT_CLEANING_RE = "@\S+|https?:\S+|http?:\S|[^A-Za-z0-9]+"
STOP_WORDS=stopwords.words('english')

In [59]:
def process_tweet(text):
    '''remove punctuation , links , emojies etc'''
    text = re.sub(TEXT_CLEANING_RE, ' ', str(text).lower()).strip()
    return text

In [60]:
dataset.tweet=dataset.tweet.apply(lambda x: process_tweet(x))
dataset

          id  label                                              tweet
0          1      0  user when a father is dysfunctional and is so ...
1          2      0  user thanks for lyft credit i can t use cause ...
2          3      0                                bihday your majesty
3          4      0      model i love u take with u all the time in ur
4          5      0                  factsguide society now motivation
...      ...    ...                                                ...
31957  31958      0                            ate user isz that youuu
31958  31959      0  to see nina turner on the airwaves trying to w...
31959  31960      0  listening to sad songs on a monday morning otw...
31960  31961      1  sikh temple vandalised in in calgary wso conde...
31961  31962      0                      thank you user for you follow

[31962 rows x 3 columns]

In [61]:
# removing stop words
dataset.tweet=dataset.tweet.apply(lambda x : " ".join (x for x in x.split() if x not in STOP_WORDS))
dataset

          id  label                                              tweet
0          1      0  user father dysfunctional selfish drags kids d...
1          2      0  user thanks lyft credit use cause offer wheelc...
2          3      0                                     bihday majesty
3          4      0                        model love u take u time ur
4          5      0                      factsguide society motivation
...      ...    ...                                                ...
31957  31958      0                                 ate user isz youuu
31958  31959      0  see nina turner airwaves trying wrap mantle ge...
31959  31960      0    listening sad songs monday morning otw work sad
31960  31961      1    sikh temple vandalised calgary wso condemns act
31961  31962      0                                  thank user follow

[31962 rows x 3 columns]

In [62]:
positive=dataset[dataset.label==0]
positive

          id  label                                              tweet
0          1      0  user father dysfunctional selfish drags kids d...
1          2      0  user thanks lyft credit use cause offer wheelc...
2          3      0                                     bihday majesty
3          4      0                        model love u take u time ur
4          5      0                      factsguide society motivation
...      ...    ...                                                ...
31956  31957      0  fishing tomorrow user carnt wait first time 2 ...
31957  31958      0                                 ate user isz youuu
31958  31959      0  see nina turner airwaves trying wrap mantle ge...
31959  31960      0    listening sad songs monday morning otw work sad
31961  31962      0                                  thank user follow

[29720 rows x 3 columns]

In [63]:
negative=dataset[dataset.label==1]
negative

          id  label                                              tweet
13        14      1  cnn calls michigan middle school build wall ch...
14        15      1  comment australia opkillingbay seashepherd hel...
17        18      1                                      retweet agree
23        24      1                        user lumpy says prove lumpy
34        35      1  unbelievable 21st century need something like ...
...      ...    ...                                                ...
31934  31935      1    lady banned kentucky mall user jcpenny kentucky
31946  31947      1  omfg offended mailbox proud mailboxpride liber...
31947  31948      1  user balls hashtag say weasel away lumpy tony ...
31948  31949      1                 makes ask anybody god oh thank god
31960  31961      1    sikh temple vandalised calgary wso condemns act

[2242 rows x 3 columns]

In [64]:
# tokenizing using textblob
TextBlob(dataset['tweet'][3]).words

WordList(['model', 'love', 'u', 'take', 'u', 'time', 'ur'])

In [65]:
# Stemming
st=PorterStemmer()
dataset['tweet'][:5].apply(lambda x: " ".join([st.stem(word) for word in x.split()]))

0    user father dysfunct selfish drag kid dysfunct...
1    user thank lyft credit use caus offer wheelcha...
2                                       bihday majesti
3                          model love u take u time ur
4                              factsguid societi motiv
Name: tweet, dtype: object

In [66]:
# Lemmatizing

dataset['tweet']=dataset['tweet'].apply(lambda x:" ".join([Word(word).lemmatize() for word in x.split()]))
dataset['tweet']

0        user father dysfunctional selfish drag kid dys...
1        user thanks lyft credit use cause offer wheelc...
2                                           bihday majesty
3                              model love u take u time ur
4                            factsguide society motivation
                               ...
31957                                   ate user isz youuu
31958    see nina turner airwave trying wrap mantle gen...
31959       listening sad song monday morning otw work sad
31960      sikh temple vandalised calgary wso condemns act
31961                                    thank user follow
Name: tweet, Length: 31962, dtype: object

In [67]:
def processRow (row):
    import re
    import nltk
    from textblob import TextBlob
    from nltk.corpus import stopwords
    from nltk.stem import PorterStemmer
    from textblob import Word
    from nltk.util import ngrams
    import re
    from nltk.tokenize import word_tokenize
    
    dtweet = row
    
    #lower case
    dtweet = dtweet.apply (lambda x: " ".join (x.lower () for x in x.split ()))
    
    #Removes unicode strings like "\u002c" and "x96"
    dtweet = dtweet.str.replace (r"""(\\u[0-9A-Fa-f]+)""","")
    dtweet = dtweet.str.replace (r"""[^\x00-\x7f]""","")
    
    # convert any url to URL
    dtweet = dtweet.str.replace("""(www\.[^\s]+)|(htpps?://[^\s]+)""", 'URL')
    
    # convert any @Username to "AT_USER"
    dtweet = dtweet.str.replace ("""@[^\s]+""", 'AT_USER')
    
    # remove additional white spaces
    dtweet = dtweet.str.replace ("""[\s]+""", ' ') 
    dtweet = dtweet.str.replace ("""[\n]+""", ' ')
    
    # remove not alphanumeric symbols white spaces
    dtweet = dtweet.str.replace (r"""[^\w]""", ' ')
    
    # remove hashtag in front of a word """
    dtweet = dtweet.str.replace (r"""#([^\s]+)""", r"""\1""")
    
    # replace #word with word
    dtweet = dtweet.str.replace (r"""#([^\s]+)""", r"""\1""")
    
    # remove :( or :)
    dtweet = dtweet.replace (""":)",""")
    dtweet = dtweet.replace (""":(",""")
    
    #remove numbers
    dtweet = " ".join([i for i in dtweet if not i.isdigit ()])
    
    # remove multiple exclamation
    dtweet = re.sub (r"""(\!)\1+""", ' ', dtweet)
    
    # remove multiple question marks
    dtweet = re.sub (r"""(\?)\1+""", ' ', dtweet)
    
    # remove multistop
    dtweet = re.sub (r"""(\.)\1+""", ' ', dtweet)
    
    # lemma
    from textblob import Word
    dtweet = " ".join ([Word(word).lemmatize () for word in dtweet.split ()])
    
    # stemmer
    st = PorterStemmer ()
    dtweet = " ".join ([st.stem (word) for word in dtweet.split ()])
    
    # trim
    dtweet = dtweet.strip ('\'"')
    row = dtweet
    return row

In [ ]:
# one hot encoding
text = "eat healthy live healthy everyday fix whats broken in 5 words eat healthy live healthy body mind soul spirit"

pd.get_dummies (text.split ())

### `SPLITTING DATA FOR TRAINING AND TESTING`

#### `LSTM MODEL`